/* 
#41346a => Dark Purple
#745aa4 => Light Purple
#c5c6c9 => grey 

Google image = <img class="social-btn-icon" alt="Login with Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg">
Github image = <img class="social-btn-icon" alt="Login with Github" src="https://hrcdn.net/fcore/assets/github-colored-1db995054b.svg">
LinkedIn image = <img class="social-btn-icon" alt="Login with LinkedIn" src="https://hrcdn.net/fcore/assets/linkedin-colored-1db195795c.svg">
facebook image = <img class="social-btn-icon" alt="Login with Facebook" src="https://hrcdn.net/fcore/assets/facebook-colored-af4249157d.svg">
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sand-serif';
    text-decoration: none;
}

.main{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../Assets/SignBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ::selection {
    background-color: #b259bc;
    color: #fff;
}

::-moz-selection {
    background-color: #b259bc;
    color: #fff;
} */

.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img{
    align-self: flex-start;
    justify-self: flex-start;
    padding: 5px;
}

.logo_img img{
    width: 200px;
}

.mainBox{
    background-color: white;
    position: relative;
    width: 800px;
    height: 700px;
    margin: 50px 0px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    transition: width 0.5s;
}

.organiser{
    position: absolute;
    width: 100%;
    height: 100%;
}

.img{
    position: absolute;
    width: 310px;
    height: 700px;
    background: linear-gradient(#000000, #303031, #000000);
    border-radius: 10px 0px 0px 10px;
}

.purpleImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px 0px 0px 10px;
}


.form{
    position: absolute;
    width: 500px;
    height: 700px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(#000000, #303031, #000000);
}

.input{
    width: 350px;
    padding: 25px;
}

.signUpLabel{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #9efe00;
    text-align: center;

}

.default{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 5px;
}

.inputBox{
    width: 336.5px;
    height: 40px;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    color: greenyellow;
}

.line{
    height: 2px;
    width: 350px;
    background: rgb(226, 226, 226);
    margin-top: 5px;
    margin-bottom: 20px;
}

.underline:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 350px;
    background: #3d6700;
}

.underline:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 350px;
    background: #9efe00;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}

.inputBox:focus ~ .underline:after{
    transform: scaleX(1);
}

.submit{
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 10px;
    height: 50px;
    border: none;
    outline: none;
    background: linear-gradient(to left, #9efe00, #3d6700);
    color: white;
    transition: all 80ms ease-in-out;
}

.submit:hover{
    cursor: pointer;
    font-size: 15px;
}

.forgot{
    position: relative;
    margin-bottom: 50px;
}

.forgot p{
    position: absolute;
    right: 0;
    color: #930eb8;
}

.forgot p:hover{
    color: #5a0970;
    text-decoration: underline;
    text-decoration-color: #5a0970;
}

.other{
    text-align: center;
    margin-bottom: 0px;
    color: #9efe00;
}

.soc{
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.socDefault img{
    width: 30px;
    margin-bottom: 0px;
    transition: all 200ms ease-in-out;

}


.socDefault img:hover{
    width: 40px;
    margin-bottom: 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    /* filter: drop-shadow(10px 10px 10px #666666); */
}




@media(max-width: 840px){
    .img{
        display: none;
    }

    .mainBox{
        width: 500px;
    }

    .form{
        width: 100%;
    }
}

@media(max-width: 550px){
    .mainBox{
        width: 90%;
    }
}